@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.paragraph{
    margin: 10px 20%;
}
.title{
    width: 60%;
    margin: 0 20%;
    display: inline-block;
}
.title > h1 {
    text-align: center;
}
.title > h4 {
    text-align: right;
}
ngb-popover-window{
    animation-name: popup;
    animation-duration: 0.5s;
}
@keyframes popup{
    0% {opacity: 0%};
    100% {opacity: 100%};
}