<div class="title">
    <h1>
        {{title}}
    </h1>
    <h4>
        {{metaDescription}}
    </h4>
</div>
<div class="content">
    <div
        class="paragraph"
        *ngFor="let paragraph of paragraphs; let i = index">
        <div
            class="content inline-trigger"
            [innerHTML]="paragraph"
            [popover]="myPopover"
            >
        </div>

        <popover-content #myPopover
            title="title"
            placement="left"
            [animation]="true"
            [closeOnClickOutside]="true">
            <div>
                <button (click)="handleClick($event, i)">
                    CrossView
                </button>
            </div>
        </popover-content>

    </div>
</div>
