host{
    position: absolute;
    transition-property: transform opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
host.show{
    opacity: 1;
    transform: scaleY(0);
}
host.hide{
    opacity: 0;
    transform: scaleY(100vh);
}

.paragraph{
    margin: 10px 20%;
}
.title{
    width: 60%;
    margin: 0 20%;
    display: inline-block;
}
.title > h1 {
    text-align: center;
}
.title > h4 {
    text-align: right;
}
